{
  "presets": ["next/babel"],
  "plugins": [
    //...
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@services": "./src/services",
          "@utils": "./src/utils",
          "@hooks": "./src/hooks",
          "@components": "./src/components"
        }
      }
    ]
  ]
}
